.btn {
  height: fit-content;
  &:disabled {
    cursor: not-allowed;
  }
  &-primary {
    background-color: $primary !important;
    border-color: $primary !important;
    box-shadow: none !important;
    &:focus {
      @extend .btn-primary;
    }
    &:active {
      @extend .btn-primary;
    }
  }
  &-success {
    background-color: $green !important;
    border-color: $green !important;
    box-shadow: none !important;
    &:focus {
      @extend .btn-success;
    }
    &:active {
      @extend .btn-success;
    }
  }
  &-danger {
    background-color: $red !important;
    border-color: $red !important;
    box-shadow: none !important;
    &:focus {
      @extend .btn-danger;
    }
    &:active {
      @extend .btn-danger;
    }
  }
}
