.form-control {
  background-color: #0f1f3e;
  border-color: $border-color;
  color: white;
  box-shadow: none;
  font-size: 14px;
  &:focus {
    @extend .form-control;
  }
  &.invalid {
    @extend .invalid;
    border-color: $red;
  }
  &.valid {
    @extend .valid;
    border-color: $green;
  }
  &:disabled {
    @extend .form-control;
    color: $gray-font;
  }
}

.form-group {
  position: relative;
  .icon-clear-input {
    cursor: pointer;
    img {
      width: 20px;
      background-color: #0f1f3e;
    }
    position: absolute;
    right: 10px;
    bottom: calc(50% - 10px);
  }
}

.invalid {
  color: $red !important;
}

.valid {
  color: $green !important;
}
